<h1>GAME</h1>

<div>game_id <%= @game_id %></div>
<div>my_player_id <%= @my_player_id %></div>
<div>my_player_name <%= @my_player_name %></div>
<div>other_player_name <%= @other_player_name %></div>


